body{
    margin: 0;
    background-color: black;
}
.canvas{
    width: 100%;
    height: 100%;
}
.canvas div{
    display: none;
}
.info{
    gap: 20px;
}
.colorPicker{
    color: white;
    gap: 10px;
}
.info,
.colorPicker{
    display: flex;
    align-items: center;
}